{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            {% for post in posts %}

            <div class="post-preview">
                <a href="{% url 'blog-post' post.slug %}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
                </a>
                <p class="post-meta">Posteado por <a href="#">{{ post.author.full_name }}</a> on {{ post.publication_date }}</p>
            </div>
            <hr>

            {% endfor %}

            <!-- Pager -->
            <!-- <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul> -->
        </div>
    </div>

</div>
{% endblock content %}